
<section id="about" class="over-section">

<div class="container">
  <div class="row">
      <div class="col-lg-12">

       <div class= "text-center">
         <p>Mosman is het kunstzinnige repertoire van micro landschappen ontwikkeld door Joachim Sohie.</p>

         <p>Met diverse mossoorten creëert Mosman kunstwerken die onze verbeelding weten te prikkelen.</p>

         <p>Mosman baseert zich op een Japanse techniek genaamd Saikei, wat “aangeplant landschap” betekent.</p>

         <p>Een mini moslandschap wordt geschept op een substraatmix, samen met rotsen, bonsaiboompje of varen.</p>

         <p>De inheemse mossen & varens vormen bij Mosman een essentieel onderdeel van deze kunstvorm.</p>

         <p>Dit maakt dat Mosman een uniek landschap weet na te bootsen, eigen aan onze lokale natuuromgeving.</p>

      </div>

    </div>
  </div>
</div>

</section>
