
<section id="about" class="over-section">


  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

       <div class= "text-center">
         <p>Mosman is het kunstzinnige repertoire van microlandschappen ontwikkeld door Joachim Sohie.</p>

         <p>Met voornamelijk inheemse mossoorten creëert Mosman kunstwerken die onze verbeelding weten te prikkelen.</p>

         <p>Mosman baseerd zich op een Japanse techniek genaamd Saikei, dat zich letterlijk vertaald naar “aangeplant landschap”.</p>

         <p>Een mini landschap van Mosman word geschept in een schaal met rotsen, potaarde & soms een klein bonsai boompje.</p>

         <p>De inheemse mossoorten vormen bij Mosman een essentieel onderdeel van deze kunstvorm.</p>

         <p>Dit maakt dat Mosman een uniek landschap weet na te bootsen, eigen aan onze lokale natuuromgeving.</p>

   </div>


          <br/>

        </div>
  </div>

</div>

</section>
