<section class="contact" id="contact">

     <div class="container">
					 <div class="row">

							<div class="col-md-12">
									 <h2 id="cm" class="text-center">Contacteer Mosman</h2>
							 </div>


					 </div>

					 <div class="row">
							  <form method="post" action="https://formspree.io/mosfabriek@gmail.com" name="contactform" id="contactform">
									 <div class="col-md-6">
											 <fieldset>
													 <input name="name" type="text" id="name" size="30" placeholder="Naam">
													 <br>
													 <input name="email" type="text" id="email" size="30" placeholder="Email">
													 <br>
													 <input name="phone" type="text" id="phone" size="30" placeholder="Telefoon">

											 </fieldset>
									 </div>
									 <div class="col-md-6">
											 <fieldset>
													 <textarea name="comments" cols="40" rows="20" id="comments" placeholder="Boodschap"></textarea>
											 </fieldset>
									 </div>
									 <div class="col-md-12">
											 <fieldset>
													 <button type="submit" class="btn btn-lg" id="submit" value="Submit">Verzenden</button>
											 </fieldset>
									 </div>
							 </form>
					 </div>
			 </div>
</section>
