
<section class="footer-section">
  <footer>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <span class="copyright">Copyright &copy; Mosman 2017</span>
          </div>
          <div class="col-md-4">
              <ul class="list-inline social-buttons" id="social-section">
                  <li><a href="https://twitter.com/mosmannnnn"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li><a href="https://www.facebook.com/mosman2000/?ref=ts&fref=ts"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="http://instarix.com/m_0_s_m_a_n/media/1497966275925558465"><i class="fa fa-instagram"></i></a>
                  </li>
              </ul>
          </div>
          <!-- <div class="col-md-3">
              <span class="email">info@mos-man.be</span>
          </div> -->
          <div class="col-md-4">
              <ul class="list-inline quicklinks">
                  <li><a href="/privacybeleid/">Privacybeleid</a>
                  </li>
                  <!--<li><a href="#">Terms of Use</a>
                  </li> -->
              </ul>
          </div>
      </div>
  </div>
</footer>
</section>
