<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">
		<div class="container">
				<div class="navbar-header page-scroll">

						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand page-scroll" href="#page-top" data-toggle="collapse" data-target=".navbar-collapse.in"><img class="img-responsive" alt="logo"
							src="img/path4281.png"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav">
								<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
								<li class="hidden">
										<a class="page-scroll" href="#page-top" data-toggle="collapse" data-target=".navbar-collapse.in"></a>
								</li>
								<li>
										<a class="page-scroll" href="#about" data-toggle="collapse" data-target=".navbar-collapse.in">Over Mosman</a>
								</li>
								<li>
										<a class="page-scroll" href="#klein" data-toggle="collapse" data-target=".navbar-collapse.in">Werk</a>
								</li>
								<li>
										<a class="page-scroll" href="#mosfabriek" data-toggle="collapse" data-target=".navbar-collapse.in">De Mosfabriek</a>
								</li>
								<li>
										<a class="page-scroll" href="#contact" data-toggle="collapse" data-target=".navbar-collapse.in">Contact</a>
								</li>
						</ul>
				</div>
				<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
</nav>


<section id="intro" class="intro-section">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

      <center>
            <div class="center-block">
              <img class="img-responsive" alt="logo" src="img/path4284.png">
            </div>
      </center>

    </div>

  </div>

</section>
