<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ****** faviconit.com favicons ****** -->

  <link rel="shortcut icon" href="/img/favicon.ico">

  <link rel="icon" sizes="16x16 32x32 64x64" href="/img/favicon.ico">

  <link rel="icon" type="image/png" sizes="196x196" href="/img/favicon-192.png">

  <link rel="icon" type="image/png" sizes="160x160" href="/img/favicon-160.png">

  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96.png">

  <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon-64.png">

  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">

  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16.png">

  <link rel="apple-touch-icon" href="/img/favicon-57.png">

  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon-114.png">

  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon-72.png">

  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon-144.png">

  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon-60.png">

  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon-120.png">

  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon-76.png">

  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon-152.png">

  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon-180.png">

  <meta name="msapplication-TileColor" content="#FFFFFF">

  <meta name="msapplication-TileImage" content="/favicon-144.png">

  <meta name="msapplication-config" content="/browserconfig.xml">

  <!-- ****** faviconit.com favicons ****** -->

<style>

.contact {
  padding: 25px 0 310px 0;
  background: url("img/contactmosman1.PNG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

</style>

</head>
