
<section id="klein" class="container klein-section text-center">

    <div class="container">
<!--row 1-->
<div class="row">
<div class="col-lg-3 col-md-3 col-xs-6 thumb">
     <a class="thumbnail" data-toggle="modal" data-target="#myModal1">
        <img class="img-responsive" src="img/TN4.png" alt="">
    </a>
</div>
<div class="col-lg-3 col-md-3 col-xs-6 thumb">
    <a class="thumbnail" data-toggle="modal" data-target="#myModal2">
        <img class="img-responsive" src="img/TN6.png" alt="">
    </a>
</div>
<div class="col-lg-3 col-md-3 col-xs-6 thumb">
    <a class="thumbnail" data-toggle="modal" data-target="#myModal3">
        <img class="img-responsive" src="img/TN28.png" alt="">
    </a>
</div>
<div class="col-lg-3 col-md-3 col-xs-6 thumb">
    <a class="thumbnail" data-toggle="modal" data-target="#myModal4">
        <img class="img-responsive" src="img/TN2.png" alt="">
    </a>
</div>
</div>

      <!--row 2-->
            <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal5">
                      <img class="img-responsive" src="img/TN27.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal6">
                      <img class="img-responsive" src="img/TN21.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal7">
                      <img class="img-responsive" src="img/TN20.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal8">
                      <img class="img-responsive" src="img/TN3.png" alt="">
                  </a>
              </div>
              </div>

              <!--row 3-->
            <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal9">
                    <img class="img-responsive" src="img/TN19.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal10">
                      <img class="img-responsive" src="img/TN10.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal11">
                      <img class="img-responsive" src="img/TN15.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal12">
                      <img class="img-responsive" src="img/TN23.png" alt="">
                  </a>
              </div>
              </div>

              <!--row 4-->
            <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal13">
                      <img class="img-responsive" src="img/TN24.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal14">
                      <img class="img-responsive" src="img/TN22.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal15">
                      <img class="img-responsive" src="img/TN5.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal16">
                      <img class="img-responsive" src="img/TN25.png" alt="">
                  </a>
              </div>
              </div>

              <!--row 5-->
              <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal17">
                      <img class="img-responsive" src="img/TN11.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal18">
                      <img class="img-responsive" src="img/TN26.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal19">
                      <img class="img-responsive" src="img/TN1.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                  <a class="thumbnail" data-toggle="modal" data-target="#myModal20">
                      <img class="img-responsive" src="img/TN13.png" alt="">
                  </a>
              </div>
              </div>
          </div>
      </div>
  </div>

<!-- Modal -->

<!-- row1 -->

<div id="myModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g4.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g6.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g28.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g2.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<!-- row2 -->

<div id="myModal5" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g27.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal6" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g21.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal7" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img src="img/g20.jpg" class="img-responsive">

    </div>
   </div>
 </div>
</div>

<div id="myModal8" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g3.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<!-- row3 -->

<div id="myModal9" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g19.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal10" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g10.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal11" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g15.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal12" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g23.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<!-- row4 -->

<div id="myModal13" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g24.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal14" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g22.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal15" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g5.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal16" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g25.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>


<!-- row5 -->

<div id="myModal17" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g11.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal18" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g26.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal19" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g1.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

<div id="myModal20" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img src="img/g13.jpg" class="img-responsive">

      </div>
    </div>
  </div>
</div>

</section>
