
<section id="klein" class="container content-section text-center">

      <div class="container">

          <div class="row text-center">

              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN4.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN6.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN10.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN2.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN20.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN8.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN1.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN3.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN13.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                    <img class="img-responsive" src="img/TN19.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN18.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN15.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN17.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN9.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN16.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN5.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN14.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN11.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN7.png" alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="img/TN12.png" alt="">
                  </a>
              </div>
          </div>
      </div>


    </section>
