doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Scrolling Nav - Start Bootstrap Template

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Start Bootstrap
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Services
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact

        header.bg-primary.text-white
            .container.text-center
                h1 Welcome to Scrolling Nav
                p.lead A landing page template freshly redesigned for Bootstrap 4

        section#about
            .container
                .row
                    .col-lg-8.mx-auto
                        h2 About this page
                        p.lead
                            | This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:
                        ul
                            li Clickable nav links that smooth scroll to page sections
                            li Responsive behavior when clicking nav links perfect for a one page website
                            li
                                | Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar
                            li Minimal custom CSS so you are free to explore your own unique design options

        section#services.bg-light
            .container
                .row
                    .col-lg-8.mx-auto
                        h2 Services we offer
                        p.lead
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.

        section#contact
            .container
                .row
                    .col-lg-8.mx-auto
                        h2 Contact us
                        p.lead
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.

        // Footer
        footer.py-5.bg-dark
            .container
                p.m-0.text-center.text-white Copyright &copy; Your Website 2021

        // Bootstrap core JS
        script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js')

        // Core theme JS
        script(src='js/scripts.js')
