---
layout: compress
---

<!DOCTYPE html>
<html lang="en">


{% include head.html %}

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  {% include header.html %}
  {% include about.html %}
  {% include klein.html %}
  {% include mosfabriek.html %}
  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
